
 


#slide-out {

	margin-top: 90px;

}

#page1 {
	background: url("1HD-Beach-Wallpaper-8.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	

}


.card {
		position: relative;
		margin-top: 200px;
		margin-right: 40px;
}

html,body {
	height: 100%;
	width: 100%;

/*#newMap {

	width: 80%;
	height: 500px;
}*/

.waves-effect,
.waves-light,
.btn{

  border-radius: 30px;

}

#form2 {
	float: left;

}

#map {
	height: 1200px;
	width: 600px;

}




