
 


#slide-out {

	margin-top: 90px;

}

#page1 {
	background: url("1HD-Beach-Wallpaper-8.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	

}


.card {
		position: relative;
		margin-top: 200px;
		margin-right: 40px;
}

html,body {
	height: 100%;
	width: 100%;
}

#newMap{

	width: 50%;
	height: 600px;
}


#newMap2{

	width: 49%;
	height: 1010px;
	padding-top: 8px;
}




#form2 {
	float: left;

}

#map {
	height: 1200px;
	width: 600px;

}

#donebtn {
	float: right;
}

#dayList {
	height: 1000px;
	
}

#weekEndList {
	height: 1000px;
	
}

#weekList {
	height: 1000px;
	
}

#doSee {
	height: 250px;
}

#eatList {
	height: 250px;
}

#placesSleep {
	height: 250px;
}

#page4Lists {
	height: 1000px;

}

#tealText{

	color: #4db6ac;
	text-align: center;
	font-size: 2em;
};

#doSee,
#eatlist,
#placesSleep{

	color: #ffffff ;
	border: 0px;

}

.collapsible-body{
	color: white;
	border-bottom: 0px;
	padding-left: 15px;
}

.buttons{

	color: white;
	border-style: solid;
	border-color: #009688;
	background-color: #009688;
	border-radius: 5px;
	height: auto;
	margin-right: 10px;
	margin-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: large;
	letter-spacing: 2px;
}

#instructions{

	color: #9e9e9e;
	font-size: 1.3em;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 1em;
}

#details{

	color: #9e9e9e;
}

#sidediv{

	margin-top: 50px;
}

#cardFix1{
  margin-top: 2em;
  }

@media screen and (max-width: 992px){

	#newMap2{

	width: 100%;
	height: 800px;
	padding-top: 8px;
}

	#newMap{

	width: 100%;
	height: 800px;
	padding-top: 8px;
}


}



